body {
	background-color: rgba(0,0,0,0.3);;
	display: flex;
}

.linkproject {
	position: fixed; bottom: 0; right: 25px; padding-bottom: 20px; float: left;
}

.card .card-title {
	font-size: 20px;
	text-align:center;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0, 1);
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}